body {
    background-color: lightgreen;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(157, 0, 255);
    text-align: center;
}

img {
    display: block;
    margin: 1rem auto;
}

.description, .steps {
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

.description h2, .steps h2 {
    margin-top: 0;
}

.description {
    background-color: rgb(124, 160, 157);
}

.steps {
    background-color: rgb(124, 160, 157);
}
